@media(max-width: 1100px){
    .sectionDeJeu{
        width: 150px;
    }
}
@media(max-width: 850px){
    .sectionDeJeu{
        width: 80px;
    }
    #Capsule1{
        background-size: 500%;
    }
}
@media(max-width: 750px){
    .sectionDeJeu{
        width: 20px;
    }
}

/* Font */

@font-face {
    font-family: 'LITTLE NIGHTMARE';
    src: url('../Font/LITTLENIGHTMARERegular.woff2') format('woff2'),
        url('Font/LITTLENIGHTMARERegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* key frames */

@keyframes neonBlink {
    0% {
    text-shadow:
      0 0 20px rgba(153, 0, 255, 0.5),
      0 0 80px rgba(153, 0, 255, 0.5);
    }
    100% {
    text-shadow:
      0 0 5px rgba(255, 255, 255, 1),
      0 0 10px rgb(0, 20, 255),
    }
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* style */

body{
    background-image: url(../Images/LittleNightmareBackground.jpg);
    background-position: center;
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    border-radius: 2rem;
}
article{
    text-align: center;
    margin: 20px;
    padding: 20px;
}
main{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    width: auto;
    padding-bottom: 1.5rem;
}
#contenuJeu{
    display: flex;
    justify-content: center;
    margin: 2rem;
    gap: 0.5rem;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 10vh;
    background-color: darkslategray;
    border-radius: 2rem;
}

/* section de jeu */

.sectionDeJeu{
    display: flex;
    box-shadow: 0.2rem 0.2rem 0.6rem grey;
    height: 75vh;
    padding: 4rem;
    align-items: end;
    color: white;
    flex-wrap: wrap;
    font-family: 'LITTLE NIGHTMARE';
    font-weight: bold;
    text-decoration: none;
    font-size: 6vh;
    border-radius: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-color: cover;
}
.sectionDeJeu:hover{
    transform: scale(1.05);
    transition: 0.5s;
    cursor: grab;
    box-shadow: none;
}
.sectionBonus:hover{
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: none;
}
.sectionDeJeu:not(:hover), .sectionBonus:not(:hover){
    transition: 0.5s;
}


/*
.sectionBonus{
    display: flex;
    box-shadow: 0.2rem 0.2rem 0.6rem grey;
    height: 65vh;
    align-items: end;
    color: white;
    font-size: 2rem;
    border-radius: 2rem;
}
#bonusID{
    margin-right: 4rem;
    margin-left: 4rem;
}
*/

#Capsule1{
    background-image: url(../Images/CapsulePrincipal1.png);
    background-size: 200%;
}
#Capsule2{
    background-image: url(../Images/CapsulePrincipal2.jpg);
    background-size: 600%;
}
#Capsule3{
    background-image: url(../Images/CapsulePrincipal3.jpg);
    background-size: 600%;
}

/* section de jeu ^ */

/* Contenu pages */ 

    /* Images */

.logo{
    height: 80px;
}
.logo:hover{
    transition: 0.3s ease;
    transform: scale(1.07);
}
img{
    height: 280px;
    border-radius: 20px;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.image-container-game{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
}
.trailer{
    border-radius: 20px;
    box-shadow: 0.2rem 0.2rem 0.6rem black;
}

    /* Images ^ */

    /* Textes */
    
h1{
    color: white;
    padding: 2rem;
    font-size: 10vh;
    font-family: 'LITTLE NIGHTMARE';
    text-shadow: 
        0 0 5px white, 
        0 0 10px white,  
        0 0 20px white,
        0 0 40px rgb(0, 20, 255), 
        0 0 80px rgb(0, 20, 255);
        animation: neonBlink 1s ease-in-out infinite alternate;
}
.personnages{
    background-color: hsla(200, 80%, 85%, .3);
    border-radius: 50px;
}
p{
    color: #820e0e;
}

    /* Textes ^ */

    /* Rotation */

.ImageRotation{
    animation: spin 20s linear infinite;
}
.ContenuDeRotation{
    display: flex;
    align-items: center;
    justify-content: center;
}

    /* Rotation ^ */



.description{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: #820e0e;
    background-color: hsla(200, 80%, 85%, .3);
}

.linkContaint{
    border-radius: 2rem;
    background: #6e6e6e;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}
.link{
    border-radius: 50px;
    background: #6e6e6e;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}
.link:hover{
    background-color: #454545;
    color: gray;
    transition: all 0.3s ease;
}
.link:not(:hover){
    transition: all 0.1s ease;
}
.game-link{
    border-radius: 10px;
    background:#454545;
    padding: 10px 20px;
    color: #6e6e6e;
    text-decoration: none;
}
.game-link:hover{
    transition: all 0.3s ease;
    background: black;
    color: azure;
}
.game-link:not(:hover){
    transition: all 0.1s ease;
}
.link-arriere{
    border-radius: 50px;
    background:  #253d3d;
    padding: 10px 20px;
    text-decoration: none;
    color: #090f0f;
}
.link-arriere:hover{
    background-color: #1a2b2b;
    color: darkslategray;
    transition: all 0.3s ease;
}
.link-arriere:not(:hover){
    transition: all 0.1s ease;
}